---
// Legacy redirect: /post?slug=my-post → /post/my-post/
---
<html>
  <head>
    <script>
      const slug = new URLSearchParams(window.location.search).get("slug");
      if (slug) {
        window.location.replace(window.location.pathname.replace(/\/post$/, "") + "/post/" + slug + "/");
      }
    </script>
  </head>
  <body></body>
</html>
